@import url("https://fonts.googleapis.com/css2?family=Cookie&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Amaranth:ital,wght@0,400;0,700;1,400;1,700&display=swap");

:root {
  --main-color: #007f46;
  --main-color-darker: #006a3a;
  --secondary-color: #00797f;
  --accent-color: #ffcf57;
  --background-primary: #e3e3e3;
}

* {
  box-sizing: border-box;
}
html {
  scroll-behavior: smooth;
}
body {
  min-width: 320px;
  height: 100%;
  padding: 0;
  margin: 0 auto;
  font-family: "Amaranth", sans-serif;
  font-size: 1em;
  background-color: var(--background-primary);
  color: #3e3e3e;
}

/* FONT STYLES */

hr {
  height: 1px;
  background-color: var(--main-color);
  border: 0;
  border-collapse: collapse;
}
h1.first,
h2.first,
h3.first {
  margin-top: 0;
}
h1.last,
h2.last,
h3.first {
  margin-bottom: 0;
}
h1 {
  font-size: 2em;
  font-weight: bold;
}
h2 {
  font-size: 1.6em;
  font-weight: bold;
}
.subtext {
  font-size: 0.8em;
  font-style: italic;
}
.fas.fa-pepper-hot {
  color: red;
}
sup {
  margin-left: 0.15em;
  vertical-align: top;
  font-size: 0.8em;
  font-weight: bold;
  font-style: italic;
}

/* DATA TABLES */

.table {
  border-collapse: collapse;
  width: 100%;
  margin-bottom: 2rem;
}
.table tr td {
  padding: 0.2em;
}
.table td:first-child {
  font-weight: bold;
}
.opening-hours-table tr td {
  padding: 0.2em 0.8em 0.2em 0;
}
.opening-hours-table tr td:first-child {
  font-weight: bold;
}

/* BUTTON STYLES */

.btn {
  display: inline-block;
  border: none;
  padding: 0.25rem 0.5rem;
  margin: 0;
  text-decoration: none;
  background: var(--main-color);
  color: #ffffff;
  font-family: sans-serif;
  font-size: 0.8rem;
  font-weight: bold;
  cursor: pointer;
  text-align: center;
  transition: background 250ms ease-in-out, transform 150ms ease;
  -webkit-appearance: none;
  -moz-appearance: none;
  border-radius: 0.2rem;
}
.btn:hover,
.btn:focus {
  background: var(--main-color-darker);
}

.btn:focus {
  outline: 1px solid #fff;
  outline-offset: -4px;
}

.btn:active {
  transform: scale(0.99);
}

/* MAIN LAYOUT COMPONENTS */

.panel {
  background-color: #fff;
  padding: 1em;
  border-radius: 0.3em;
  margin-bottom: 1rem;
}

.wrapper {
  display: grid;
  flex-flow: column nowrap;
  grid-gap: 1rem;
  grid-template-columns: repeat(12, 1fr);
  grid-template-rows: auto 1fr auto;
  height: 100vh;
}
.inner-wrapper {
  grid-column: 1/13;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  align-items: center;
  margin: 0 1rem;
}
.header-container {
  display: grid;
  grid-column: 1/13;
  grid-template-columns: repeat(12, 1fr);
  background-color: var(--main-color);
  color: #fff;
}

.phone-number a:link,
.phone-number-mobile a:link {
  color: var(--accent-color);
  text-decoration: none;
}

.main-container-home {
  background-color: #fff;
  padding: 1em;
  border-radius: 0.3em;
  margin: 0 1rem;
}
.main-container-home {
  grid-column: 1/13;
}
.main-container {
  grid-column: 1/13;
}
.aside-container {
  grid-column: 1/13;
}
.footer-container {
  display: grid;
  grid-column: 1/13;
  grid-template-columns: repeat(12, 1fr);
  background-color: var(--main-color);
  color: #fff;
  padding: 2rem 0;
  margin-top: auto;
}

.contact {
  min-height: 100%;
}

/* HEADER NAVIGATION */

.brand-nav-group {
  display: flex;
  flex-flow: row wrap;
  align-items: center;
  justify-content: space-evenly;
  order: 2;
}

.brand {
  font-family: "Cookie", serif;
  font-size: 2em;
  font-weight: 500;
  color: #fff;
  text-shadow: 2px 2px 5px #005730;
  order: 1;
  padding-right: 1rem;
}
.navigation {
  display: flex;
  padding: 0;
  margin: 0 0 0 1rem;
  align-items: center;
  justify-content: flex-end;
  order: 3;
}
.nav-bar {
  list-style: none;
  margin: 0;
  padding: 0;
}
.nav-bar li {
  float: left;
  background-color: var(--main-color);
}
.nav-bar li a {
  font-size: 1em;
  font-weight: 700;
  color: #fff;
  text-decoration: none;
  display: inline-block;
  padding: 1rem;
}
.nav-bar .nav-item:hover {
  background-color: var(--accent-color);
}
.nav-bar .nav-item:hover a {
  color: #fff;
}
.nav-item.active,
.nav-item.active:hover {
  background-color: #eeeeee;
}
.nav-item.active a,
.nav-item.active:hover a {
  color: var(--main-color);
}
.nav-item a,
.nav-bar li {
  transition: background-color 0.3s, color 0.3s;
}

.phone-number {
  font-family: "Amaranth", sans-serif;
  font-size: 1.2em;
  color: var(--accent-color);
  font-weight: bold;
  text-shadow: 2px 2px 3px #006338; /* #007f46 */
  order: 1;
  display: none;
}
.phone-number-mobile {
  font-family: "Amaranth", sans-serif;
  font-size: 1.2em;
  color: var(--accent-color);
  font-weight: bold;
  text-shadow: 2px 2px 3px #006338; /* #007f46 */
  order: 2;
  display: inline-block;
}

/* ORDER SUMMARY */
.order-summary {
  position: sticky;
  top: 1rem;
  background-color: #fff;
}
.order-summary-header {
  background-color: var(--main-color);
  color: #fff;
  padding: 0.76rem 1rem;
}
.order-summary-header h2 {
  margin: 0;
}
.order-summary-empty {
  padding-bottom: 0.2rem;
  font-style: italic;
}
.order-summary-items {
  padding: 1rem;
  background-color: #fff;
}
.order-items {
  display: grid;
  grid-template-columns: auto auto 1fr auto;
}
.order-item-title,
.order-item-price,
.order-item-quantity {
  font-size: 1em;
}
.order-item-delete {
  grid-column: 1/2;
  padding: 0.2rem 0.5rem 0.2rem 0;
}
.order-item-quantity {
  grid-column: 2/3;
  padding: 0.2rem 0.5rem 0.2rem 0;
}
.order-item-title {
  grid-column: 3/4;
  padding: 0.2rem 0;
}
.order-item-price {
  grid-column: 4/5;
  padding: 0.2rem 0 0.2rem 0.5rem;
}
.order-total {
  font-weight: bold;
  text-align: right;
}
.order-item-delete-btn {
  font-family: "Courier New", Courier, monospace;
  font-size: 1.2em;
  color: #fff;
  background-color: #80230f;
  width: 1.2em;
  height: 1.2em;
  border-radius: 50%;
  border: none;
  padding: 0;
  margin: 0;
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  justify-content: center;
}
/* MENU STYLES */

.menu {
  display: flex;
  flex-flow: column nowrap;
}
.menu-section {
  display: flex;
  flex-flow: column nowrap;
  flex: 1;
}
.menu-section::before {
  display: block;
  content: " ";
  margin-top: 1rem;
  visibility: hidden;
  width: 100%;
}
.menu-section:first-child {
  margin-top: -1rem;
}
.menu-section-content {
  overflow: hidden;
  background-color: #fff;
  transition: max-height 0.5s ease;
  max-height: 0;
}

.menu-section-header,
.menu-section-subheader,
.menu-section-item,
.menu-section-separator {
  flex: 1;
}
.menu-section-header {
  font-size: 2em;
  font-weight: bold;
  background-color: var(--main-color);
  color: #fff;
  cursor: pointer;
  padding: 0.5rem 1rem;
  width: 100%;
  border: none;
  text-align: left;
  outline: none;
  transition: background-color 0.5s ease;
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
}
.menu-section-header:hover {
  background-color: var(--main-color-darker);
}
.menu-section-header-chevron {
  display: inline-block;
  transition: transform 0.1s ease;
}
.menu-section-header-chevron.active {
  transform: rotate(90deg);
}
.menu-section-subheader {
  font-size: 1.17em;
  font-weight: bold;
  font-style: italic;
  margin-bottom: 1em;
  padding: 1rem 1rem 0 1rem;
}
.menu-section-item {
  display: grid;
  grid-gap: 0.5rem;
  grid-template-columns: auto 1fr auto auto;
  margin-bottom: 0.5rem;
  align-items: center;
  padding: 0 1rem;
}

.menu-item-id,
.menu-item-title,
.menu-item-price {
  font-weight: bold;
}

.menu-item-id {
  grid-column: 1/2;
  order: 1;
  min-width: 2.6rem;
}
.menu-item-title {
  grid-column: 2/3;
  order: 2;
}
.menu-item-price {
  grid-column: 3/4;
  order: 3;
}
.menu-item-controls {
  grid-column: 4/5;
  order: 4;
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  align-items: center;
}
.menu-item-controls-quantity {
  min-width: 2rem;
  text-align: center;
}
.menu-item-description {
  grid-column: 2/3;
  order: 5;
  font-size: 0.8em;
  font-style: italic;
}

@media only screen and (min-width: 580px) {
  /* For tablets: */
  .navigation {
    order: 2;
  }
  .brand {
    font-size: 2.5em;
    padding: 0;
  }
  .phone-number {
    display: block;
    order: 3;
  }
  .phone-number-mobile {
    display: none;
  }
  .inner-wrapper {
    grid-column: 1/13;
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: center;
  }

  .main-container-home {
    grid-column: 1/13;
    margin: 0 1rem;
  }
  .main-container {
    grid-column: 1/13;
    margin: 0 1rem;
  }
  .aside-container {
    grid-column: 1/13;
    margin: 0 1rem;
  }
}

@media only screen and (min-width: 1024px) {
  /* For desktop: */
  .navigation {
    order: 2;
  }
  .brand {
    font-size: 2.5em;
    padding: 0;
  }
  .phone-number {
    order: 3;
    display: block;
  }
  .phone-number-mobile {
    display: none;
  }
  .inner-wrapper {
    grid-column: 1/13;
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: center;
  }

  .main-container-home {
    grid-column: 1/13;
    margin: 0 1rem;
  }
  .main-container {
    grid-column: 1/9;
    margin: 0 0 0 1rem;
  }
  .aside-container {
    grid-column: 9/13;
    margin: 0 1rem 0 0;
  }
}
@media only screen and (min-width: 1200px) {
  /* For desktop: */
  .navigation {
    order: 2;
  }
  .brand {
    font-size: 2.5em;
    padding: 0;
  }
  .phone-number {
    display: block;
    order: 3;
  }
  .phone-number-mobile {
    display: none;
  }
  .inner-wrapper {
    grid-column: 1/13;
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: center;
    margin: 0;
    padding: 0 1.4rem;
  }

  .main-container-home {
    grid-column: 2/12;
    margin: 0;
  }
  .main-container {
    grid-column: 2/9;
    margin: 0;
  }
  .aside-container {
    grid-column: 9/12;
    margin: 0;
  }
}
@media only screen and (min-width: 1600px) {
  /* For desktop: */
  .navigation {
    order: 2;
  }
  .brand {
    font-size: 2.5em;
    padding: 0;
  }
  .phone-number {
    display: block;
    order: 3;
  }
  .phone-number-mobile {
    display: none;
  }
  .inner-wrapper {
    grid-column: 1/13;
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: center;
    padding: 0 1.4rem;
  }

  .main-container-home {
    grid-column: 3/11;
    margin: 0;
  }
  .main-container {
    grid-column: 3/8;
    margin: 0;
  }
  .aside-container {
    grid-column: 8/11;
    margin: 0;
    flex-grow: 0;
  }
}
