@import url('https://fonts.googleapis.com/css2?family=Cookie&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Amaranth:ital,wght@0,400;0,700;1,400;1,700&display=swap');

:root {
  --main-color: #007f46;
  --main-color-darker: #006a3a;
  --secondary-color: #00797F;
  --accent-color: #ffcf57;
  --background-primary: #e3e3e3;
}

* {
  box-sizing: border-box;
}
body {
  min-width: 320px;
  height: 100%;
  padding: 0;
  margin: 0 auto;
  font-family: 'Amaranth', sans-serif;
  font-size: 1em;
  background-color: var(--background-primary);
  color: #3e3e3e;
}

/* FONT STYLES */

hr {
  height:1px;
  background-color: var(--main-color);
  border: 0;
  border-collapse: collapse;
}
h1.first, h2.first, h3.first  {
  margin-top: 0;
}
h1.last, h2.last, h3.first  {
  margin-bottom: 0;
}
.subtext {
  font-size: 0.8em;
  font-style: italic;
}

.fas.fa-pepper-hot {
  color: red;
}

/* DATA TABLES */

.table{
  border-collapse: collapse;
  width:100%;
  margin-bottom: 2rem;
}
.table tr td {
  padding:0.2em;
}
.table td:first-child{
  font-weight: bold;
}
.opening-times tr td {
  padding:0.2em 0.8em 0.2em 0;
}
.opening-times tr td:first-child{
  font-weight: bold;
}

/* BUTTON STYLES */

.btn {
  display: inline-block;
  border: none;
  padding: 0.25rem 0.5rem;
  margin: 0;
  text-decoration: none;
  background: var(--main-color);
  color: #ffffff;
  font-family: sans-serif;
  font-size: 1rem;
  font-weight: bold;
  cursor: pointer;
  text-align: center;
  transition: background 250ms ease-in-out,
  transform 150ms ease;
  -webkit-appearance: none;
  -moz-appearance: none;
  border-radius: 0.2rem;

}
.btn:hover,
.btn:focus {
  background: var(--main-color-darker);
}

.btn:focus {
  outline: 1px solid #fff;
  outline-offset: -4px;
}

.btn:active {
  transform: scale(0.99);
}

/* MAIN LAYOUT COMPONENTS */

.wrapper {
  display: grid;
  flex-flow: column nowrap;
  grid-gap: 1rem;
  grid-template-columns: repeat(12, 1fr);
  grid-template-rows: auto 1fr auto;
  height: 100vh;
}
.inner-wrapper {
  grid-column: 1/13;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  align-items: center;
  margin: 0 1rem;
}
.header-container {
  display: grid;
  grid-column: 1/13;
  grid-template-columns: repeat(12, 1fr);
  background-color: var(--main-color);
  color: #fff;
}

.header-container a:link {
  color: var(--accent-color);
  text-decoration: none;
}

.main-container-home, .main-container, .aside-container {
  background-color: #fff;
  padding: 1em;
  border-radius: 0.3em;
  margin: 0 1rem;
}
.main-container-home {
  grid-column: 1/13;
}
.main-container {
  grid-column: 1/13;
}
.aside-container {
  grid-column: 1/13;
}
.footer-container {
  display: grid;
  grid-column: 1/13;
  grid-template-columns: repeat(12, 1fr);
  background-color: var(--main-color);
  color: #fff;
  padding: 2rem 0;
  margin-top: auto;
}

/* HEADER NAVIGATION */

.brand {
  font-family: "Cookie", serif;
  font-size: 2em;
  font-weight: 500;
  color: #fff;
  text-shadow: 2px 2px 5px #005730;
  order: 1;
  padding-right: 1rem;
}
.navigation {
  display: flex;
  padding: 0;
  margin: 0;
  align-items: center;
  justify-content: flex-end;
  order: 3;
}
.nav-bar {
  list-style: none;
  margin: 0;
  padding: 0;
}
.nav-bar li {
  float: left;
  background-color: var(--main-color);
}
.nav-bar li a {
  font-size: 1em;
  font-weight: 700;
  color: #fff;
  text-decoration: none;
  display: inline-block;
  padding: 1rem;
}
.nav-bar .nav-item:hover {
  background-color: var(--accent-color);
}
.nav-bar .nav-item:hover a{
  color: #fff;
}
.nav-item.active, .nav-item.active:hover {
  background-color: #eeeeee;
}
.nav-item.active a, .nav-item.active:hover a {
  color: var(--main-color);
}
.nav-item a, .nav-bar li {
  transition: background-color 0.3s, color 0.3s;
}

.phone-number {
  font-family: 'Cuprum', sans-serif;
  font-size: 1.2em;
  color: var(--accent-color);
  font-weight: bold;
  text-shadow: 2px 2px 3px #006338; /* #007f46 */
  order: 2;
}



/* MENU STYLES */

.menu {
  display: flex;
  flex-flow: column nowrap;
}
.menu-section {
  display: flex;
  flex-flow: column nowrap;
  flex: 1;
}
.menu-section-header, .menu-section-subheader, .menu-section-item, .menu-section-separator {
  flex: 1;
}
.menu-section-header {
  font-size: 2em;
  font-weight: bold;
}
.menu-section-subheader {
  font-size: 1.17em;
  font-weight: bold;
  font-style: italic;
  margin-bottom: 1em;
}
.menu-section-item {
  display: grid;
  grid-gap: 0.5rem;
  grid-template-columns: auto 1fr auto auto;
  margin-bottom: 1rem;
  align-items: center;
}

.menu-item-id, .menu-item-title, .menu-item-price {
  font-weight: bold;
}

.menu-item-id {
  grid-column: 1/2;
  order: 1;
  min-width: 1rem;
}
.menu-item-title {
  grid-column: 2/3;
  order: 2;
}
.menu-item-price {
  grid-column: 3/4;
  order: 3;
}
.menu-item-controls {
  grid-column: 4/5;
  order: 4;
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  align-items: center;
}
.menu-item-controls > .btn {
  font-family: "Courier New", Courier, monospace;
  font-size: 1em;
}
.menu-item-controls-quantity {
  min-width: 2rem;
  text-align: center;
}
.menu-item-description {
  grid-column: 2/3;
  order: 5;
  font-size: 0.8em;
  font-style: italic;
}

@media only screen and (min-width: 580px) {
  /* For tablets: */
  .navigation{
    order:2;
  }
  .brand{
    font-size: 2.5em;
    padding: 0;
  }
  .phone-number {
    order: 3;
  }
  .inner-wrapper {
    grid-column: 1/13;
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: center;
  }

  .main-container-home {
    grid-column: 1/13;
    margin: 0 1rem;
  }
  .main-container {
    grid-column: 1/13;
    margin: 0 1rem;
  }
  .aside-container {
    grid-column: 1/13;
    margin: 0 1rem;
  }

}

@media only screen and (min-width: 1024px) {
  /* For desktop: */
  .navigation {
    order: 2;
  }
  .brand{
    font-size: 2.5em;
    padding: 0;
  }
  .phone-number {
    order: 3;
  }
  .inner-wrapper {
    grid-column: 1/13;
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: center;
  }

  .main-container-home {
    grid-column: 1/13;
    margin: 0 1rem;
  }
  .main-container {
    grid-column: 1/9;
    margin: 0 0 0 1rem;
  }
  .aside-container {
    grid-column: 9/13;
    margin: 0 1rem 0 0;
  }

}
@media only screen and (min-width: 1200px) {
  /* For desktop: */
  .navigation {
    order: 2;
  }
  .brand{
    font-size: 2.5em;
    padding: 0;
  }
  .phone-number {
    order: 3;
  }
  .inner-wrapper {
    grid-column: 2/12;
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: center;
    margin: 0;
  }

  .main-container-home {
    grid-column: 2/12;
    margin: 0;
  }
  .main-container {
    grid-column: 2/9;
    margin: 0;
  }
  .aside-container {
    grid-column: 9/12;
    margin: 0;
  }

}
@media only screen and (min-width: 1600px) {
  /* For desktop: */
  .navigation {
    order: 2;
  }
  .brand{
    font-size: 2.5em;
    padding: 0;
  }
  .phone-number {
    order: 3;
  }
  .inner-wrapper {
    grid-column: 3/11;
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: center;
  }

  .main-container-home {
    grid-column: 3/11;
    margin: 0;
  }
  .main-container {
    grid-column: 3/8;
    margin: 0;
  }
  .aside-container {
    grid-column: 8/11;
    margin: 0;
  }

}